\documentclass[aspectratio=169]{beamer}
\usepackage{pdfpages}
\usepackage{cmbright}
\usepackage{minted}
\usepackage{hyperref}
\setbeamertemplate{navigation symbols}{}

\begin{document}
((* for speaker, title, pdf, next_speaker in entries *))
    \begin{frame}{Lightning Talk (( loop.index )) of
            (( entries | length ))}
        \begin{center}
            {\Huge (( speaker ))} \\[1em]
            {\LARGE (( title ))}
            ((* if next_speaker *))
                \vspace{1cm}
                {\Large \emph{Next: (( next_speaker ))}}
            ((* endif *))
        \end{center}
    \end{frame}
    ((* if pdf *))
        \includepdf[pages=-]{slides/(( pdf ))}
    ((* endif *))
((* endfor *))

\newcommand{\quine}[4][python]{%
  \begin{frame}{#2}
  \inputminted[firstline=#3,lastline=#4,linenos]{#1}{#2}
  \end{frame}
}

\quine{genslides.py}{1}{3}    % imports
\quine{genslides.py}{6}{19}   % TALKS
\quine{genslides.py}{22}{27}  % setting talks=
\quine{genslides.py}{29}{40}  % jinja
\quine{genslides.py}{42}{52}  % build / main

\quine[tex]{genslides.tex.j2}{1}{8}    % preamble
\quine[tex]{genslides.tex.j2}{9}{24}   % slide
\quine[tex]{genslides.tex.j2}{26}{40}  % quine

\begin{frame}{CCC Hackerethik}
Man kann mit einem Computer Kunst und
Schönheit schaffen. \\
You can create art and beauty on a computer.

{\scriptsize \url{https://www.ccc.de/de/hackerethics} /
\url{https://www.ccc.de/en/hackerethics}} \\[.2em]

\inputminted[firstline=42,linenos]{tex}{genslides.tex.j2}
\end{frame}
\end{document}
